@model Cams.Common.Dto.ContactDetailsDto
@using Cams.Web.MVCRazor

    <li>
        <div class="fl">
            
            @Html.DropDownListFor(model => model.ContactNoType,
            new List<SelectListItem> { 
                            new SelectListItem { Text = ClientResources.ContactNoTypeMobile, Value = ClientResources.ContactNoTypeMobile, Selected = true },
                            new SelectListItem { Text = ClientResources.ContactNoTypeOfficeNo, Value = ClientResources.ContactNoTypeOfficeNo, Selected = false },
                            new SelectListItem { Text = ClientResources.ContactNoTypeResNo, Value = ClientResources.ContactNoTypeResNo, Selected = false},
                            new SelectListItem { Text = ClientResources.ContactNoTypeFaxNo, Value = ClientResources.ContactNoTypeFaxNo, Selected = false}
            }, new { id = "ddlContactSelector", style = "width:90px; border: medium none; padding: 1px; float:left" })
            <div class="contacts1" style="display:block; float:left; margin-left:15px;">
                @Html.TextBoxFor(model => model.CountryCallingCode, new { value = "+91", id = "txtECCountryCode", @class = "textfiled", style = "width:28px; text-align:center" })
                @Html.TextBoxFor(model => model.STDCode, new { value = "20", @class = "textfiled", style = "width:38px; text-align:center; display:none" })
                @Html.TextBoxFor(model => model.ContactNo, new { @class = "width166 required", style = "width:155px;", id = "txtECMobileNumber", value = "", maxlength = "15" })
            </div>
        </div>
    </li>
