<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="SpringConfigFile" value="NhConfiguration.xml" />
    <add key="LoggerName" value="CamsLogger" />
    <add key="ExceptionLoggerName" value="CamsExceptionLogger" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--net.tcp://localhost:50970/AddressWcfService-->
    <services>
      <service name="Cams.WcfService.AddressWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IAddressService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
        <service name="Cams.WcfService.APMCMasterWcfService" behaviorConfiguration="default">
          <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IAPMCService">
            <identity>
              <dns value="localhost" />
              <!--<dns value="localhost" />-->
            </identity>
          </endpoint>
          <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
              <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
            </baseAddresses>
          </host>
        </service>
      <service name="Cams.WcfService.BankWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IBankService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.BankBranchWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IBankBranchService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.ChargesPayableToWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IChargesPayableToService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.CommodityMasterWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.ICommodityService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.CityVillageWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.ICityVillageService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.ClientWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IClientService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.CommodityClassWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.ICommodityClassService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:61941/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.CountryMasterWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.ICountryMasterService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.DesignationServices" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IDesignationService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.DistrictWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IDistrictService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.LabourChargeTypesWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.ILabourChargeTypeService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.MeasuringUnitWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IMeasuringUnitService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.StatesMasterWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IStateService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.UserGroupServices" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IUserGroupService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.UserWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IUserService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.WeeklyHalfDayWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IWeeklyHalfDayService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.WeeklyOffDaysWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IWeeklyOffDaysService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.ZonesMasterWcfService" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IZoneService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
      <service name="Cams.WcfService.RelationShipWcfServices" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IRelationShipService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>
    <service name="Cams.WcfService.RoleWcfService" behaviorConfiguration="default">
      <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IRoleService">
        <identity>
          <dns value="localhost" />
          <!--<dns value="localhost" />-->
        </identity>
      </endpoint>
      <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
      <host>
        <baseAddresses>
          <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
          <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
        </baseAddresses>
      </host>
    </service>
      <service name="Cams.WcfService.SubscriptionMasterWcfServices" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.ISubscriptionMasterService">
          <identity>
            <dns value="localhost" />
            <!--<dns value="localhost" />-->
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
            <!--<add baseAddress="net.tcp://localhost/Cams.WcfService/" />-->
          </baseAddresses>
        </host>
      </service>

      <service name="Cams.WcfService.BusinessConstitutionWcfServices" behaviorConfiguration="default">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NetTcpBindingEndpoint" contract="Cams.Common.ServiceContract.IBusinessConstitutionService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Cams.WcfService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="portSharingBinding" portSharingEnabled="true">
        </binding>
      </netTcpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />


  </system.serviceModel>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>

