<?xml version="1.0"?>

<configuration>
    <appSettings>
        <add key="SpringConfigFile" value="NhConfiguration.xml" />
        <add key="LoggerName" value="CamsLogger"/>
        <add key="ExceptionLoggerName" value="CamsExceptionLogger"/>

    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
        <services>
            <service name="UserWcfService">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1319/UserWcfService.svc"/>
                    </baseAddresses>
                </host>
                <endpoint address=""
                          contract="UserServiceReference.IUserService"
                          binding="basicHttpBinding"/>
            </service>
        </services>
    </system.serviceModel>

</configuration>

